<h2>Stock Quantity Information for <%= @book_store.name %></h2>

<% @stock_quantities.each do |quantity| %>

  <li>Recipe Book Name: <%= quantity.recipe_book.name %> - Quantity Bought: <%= quantity.amount %> - Cost: $<%= quantity.cost %></li>

<% end %>
</ul>

<br>

<%= link_to "Stock this Book Store", new_book_store_stock_quantity_path(@book_store.id) %>
<br>
<%= link_to "Back to Book Store", book_store_path(@book_store) %>