<h1><%= @recipe_book.name %></h1>
<p>Author: <%= @recipe_book.author_name %></p>

<h3>Recipes:</h3>

<% @recipe_book.recipes.each do |recipe| %>
  <%= recipe.name %><br>
<% end %>
<br>
<%= link_to "Go Back", recipe_books_path %>
<br>
<%= link_to "Delete this Recipe Book", @recipe_book, method: :delete, data: { confirm: "Really?" } %>

<br><br>

<%= image_tag "recipes.jpg" %>
