<h1>List of Book Stores</h1>

<% @book_stores.each do |book_store| %>
  <%= link_to book_store.name, book_store_path(book_store) %><br>
<% end %>
<br>
<%= link_to "Create a New Book Store", new_book_store_path %>
<br>
<%= link_to "Go Back to Manager Home Page", manager_path(@manager) %>
<br>
<%= link_to "Log Out", logout_path %>
<br>
<br>
<%= image_tag "book_store.jpg" %>