<!DOCTYPE html>
<html>
  <head>
    <title>RecipeBookInventoryManager</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div>
      <% if flash[:messages] %>
        <% flash[:messages].each do |message| %>
          <strong><h4><%= message%></h4></strong>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
